@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Signika', sans-serif;
}

.relative {
  border-opacity: 50%;
}

.relative:focus-within {
  border-opacity: 100%;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}

.bg-opacity-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.backdrop-blur-lg {
  backdrop-filter: blur(10px);
}



